.container-banner {
    padding: 200px 0 200px;
}
.container-big {
    padding: 100px 0 100px;
}
.progress-big {
    margin-bottom: 2px;
}
.progress-big, .progress-big .progress-bar {
    height: 45px;
}
.progress-big .progress-bar {
    font-size: 16px;
}

#about .lead {
    padding: 0 200px;
}

@media (max-width: 991px) {
    #about .lead {
        padding: 0;
    }   
}
@media (min-width: 576px) {
    .card-columns {
        column-count: 2;
    }
}

@media (min-width: 768px) {
    .card-columns {
        column-count: 3;
    }
}

@media (min-width: 992px) {
    .card-columns {
        column-count: 4;
    }
}

@media (min-width: 1200px) {
    .card-columns {
        column-count: 4;
    }
}